In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
dataset = pd.read_csv("grossing2017-2011.csv")

In [3]:
dataset.head()

,colocação,título_brasileiro,título_original,distribuidora,renda,publico,salas_abertura,estreia
0,1,Velozes e furiosos 8,The Fate of the Furious,Universal,133420000,8504737,1512,2017-04-13
1,2,Liga da Justiça,Justice league,Warner,131218000,8416544,1582,2017-11-16
2,3,A Bela e a Fera,Beauty and the Beast,Disney,130098000,8309801,1399,2017-03-16
3,4,Meu malvado favorito 3,Despicable me 3,Universal,126007000,8996130,1319,2017-06-29
4,5,Mulher-Maravilha,Wonder Woman,Warner,109700000,7053736,1287,2017-01-06

## Pytrends

In [4]:
from pytrends.request import TrendReq

In [5]:
pytrends = TrendReq(hl='en-US', tz=360) #CONECTANDO COM O GOOGLE

In [6]:
movies = dataset.iloc[:,1]
movies.head()

0      Velozes e furiosos 8
1           Liga da Justiça
2           A Bela e a Fera
3    Meu malvado favorito 3
4          Mulher-Maravilha
Name: título_brasileiro, dtype: object

In [7]:
def sixMonthsEarlier(releaseDay):
    data = datetime.date.fromisoformat(releaseDay)
    sixMonthsAgo = datetime.timedelta(days=180)
    return str(data - sixMonthsAgo)

def getTimeFrame(i):
    to_tf = dataset.loc[i,'estreia']
    from_tf =  sixMonthsEarlier(to_tf)
    tf = str(from_tf +' '+ to_tf)
    tf = str(from_tf + " " + to_tf)
    return tf

In [8]:
#kw_list = movies
#pytrends.build_payload(kw_list, timeframe = tf , geo='BR')

In [8]:
kw_list = movies.head()
kw_list

0      Velozes e furiosos 8
1           Liga da Justiça
2           A Bela e a Fera
3    Meu malvado favorito 3
4          Mulher-Maravilha
Name: título_brasileiro, dtype: object

In [9]:
for i in range(5):
    print(kw_list[i] + " --> " +getTimeFrame(i))

Velozes e furiosos 8 --> 2016-10-15 2017-04-13
Liga da Justiça --> 2017-05-20 2017-11-16
A Bela e a Fera --> 2016-09-17 2017-03-16
Meu malvado favorito 3 --> 2016-12-31 2017-06-29
Mulher-Maravilha --> 2016-07-10 2017-01-06

In [10]:
for i in range(5):
    print(kw_list[i])

Velozes e furiosos 8
Liga da Justiça
A Bela e a Fera
Meu malvado favorito 3
Mulher-Maravilha

In [11]:
lista_teste = ['Velozes e furiosos 8','Liga da Justiça','A Bela e a Fera','Meu malvado favorito 3','Mulher-Maravilha']

In [15]:
for i in range(5):
    lista_temp = [lista_teste[i]]
    print(lista_temp)

['Velozes e furiosos 8']
['Liga da Justiça']
['A Bela e a Fera']
['Meu malvado favorito 3']
['Mulher-Maravilha']

In [17]:
filmes = []
for i in range(5):
    lista_temp = [lista_teste[i]]
    pytrends.build_payload(lista_temp, timeframe = getTimeFrame(i), geo='BR')
    interest = pytrends.interest_over_time()
    filmes.append(interest.reset_index().drop(['date', 'isPartial'], axis=1).transpose())

            Velozes e furiosos 8  isPartial
date
2016-10-15                     3      False
2016-10-16                     3      False
2016-10-17                     1      False
2016-10-18                     3      False
2016-10-19                     2      False
2016-10-20                     2      False
2016-10-21                     2      False
2016-10-22                     2      False
2016-10-23                     3      False
2016-10-24                     3      False
2016-10-25                     2      False
2016-10-26                     4      False
2016-10-27                     4      False
2016-10-28                     5      False
2016-10-29                     4      False
2016-10-30                     4      False
2016-10-31                     2      False
2016-11-01                     2      False
2016-11-02                     2      False
2016-11-03                     2      False
2016-11-04                     2      False
2016-11-05                     2      False
2016-11-06                     2      False
2016-11-07                     1      False
2016-11-08                     1      False
2016-11-09                     1      False
2016-11-10                     2      False
2016-11-11                     2      False
2016-11-12                     2      False
2016-11-13                     3      False
...                          ...        ...
2017-03-15                    12      False
2017-03-16                    11      False
2017-03-17                    10      False
2017-03-18                    11      False
2017-03-19                    11      False
2017-03-20                    10      False
2017-03-21                    10      False
2017-03-22                     8      False
2017-03-23                    10      False
2017-03-24                     8      False
2017-03-25                    13      False
2017-03-26                    15      False
2017-03-27                    11      False
2017-03-28                    11      False
2017-03-29                    11      False
2017-03-30                    12      False
2017-03-31                    11      False
2017-04-01                    16      False
2017-04-02                    23      False
2017-04-03                    18      False
2017-04-04                    15      False
2017-04-05                    18      False
2017-04-06                    23      False
2017-04-07                    28      False
2017-04-08                    33      False
2017-04-09                    42      False
2017-04-10                    40      False
2017-04-11                    44      False
2017-04-12                    60      False
2017-04-13                   100      False

[181 rows x 2 columns]
            Liga da Justiça  isPartial
date
2017-05-20                6      False
2017-05-21                7      False
2017-05-22                4      False
2017-05-23                5      False
2017-05-24                5      False
2017-05-25                4      False
2017-05-26                5      False
2017-05-27                6      False
2017-05-28                7      False
2017-05-29                5      False
2017-05-30                5      False
2017-05-31                5      False
2017-06-01                4      False
2017-06-02                5      False
2017-06-03                7      False
2017-06-04                7      False
2017-06-05                6      False
2017-06-06                5      False
2017-06-07                5      False
2017-06-08                4      False
2017-06-09                5      False
2017-06-10                8      False
2017-06-11                8      False
2017-06-12                5      False
2017-06-13                6      False
2017-06-14                4      False
2017-06-15                8      False
2017-06-16                7      False
2017-06-17                8      False
2017-06-18                7      False
...                     ...        ...
2017-10-18                6      False
2017-10-19                7      False
2017-10-20                6      False
2017-10-21                8      False
2017-10-22                9      False
2017-10-23                6      False
2017-10-24                8      False
2017-10-25                7      False
2017-10-26                9      False
2017-10-27                9      False
2017-10-28               11      False
2017-10-29               13      False
2017-10-30               10      False
2017-10-31                9      False
2017-11-01               11      False
2017-11-02               14      False
2017-11-03               13      False
2017-11-04               16      False
2017-11-05               17      False
2017-11-06               15      False
2017-11-07               14      False
2017-11-08               15      False
2017-11-09               16      False
2017-11-10               19      False
2017-11-11               26      False
2017-11-12               30      False
2017-11-13               28      False
2017-11-14               41      False
2017-11-15              100      False
2017-11-16               77      False

[181 rows x 2 columns]
            A Bela e a Fera  isPartial
date
2016-09-17                5      False
2016-09-18                6      False
2016-09-19                4      False
2016-09-20                5      False
2016-09-21                5      False
2016-09-22                5      False
2016-09-23                4      False
2016-09-24                6      False
2016-09-25                6      False
2016-09-26                5      False
2016-09-27                5      False
2016-09-28                4      False
2016-09-29                4      False
2016-09-30                9      False
2016-10-01               10      False
2016-10-02                7      False
2016-10-03                5      False
2016-10-04                4      False
2016-10-05                5      False
2016-10-06                4      False
2016-10-07                5      False
2016-10-08                7      False
2016-10-09                5      False
2016-10-10                6      False
2016-10-11                5      False
2016-10-12                7      False
2016-10-13                5      False
2016-10-14                5      False
2016-10-15                6      False
2016-10-16                6      False
...                     ...        ...
2017-02-15               10      False
2017-02-16                8      False
2017-02-17               11      False
2017-02-18               13      False
2017-02-19               15      False
2017-02-20               10      False
2017-02-21               11      False
2017-02-22                9      False
2017-02-23               11      False
2017-02-24               12      False
2017-02-25               14      False
2017-02-26               16      False
2017-02-27               18      False
2017-02-28               18      False
2017-03-01               16      False
2017-03-02               16      False
2017-03-03               19      False
2017-03-04               28      False
2017-03-05               29      False
2017-03-06               29      False
2017-03-07               26      False
2017-03-08               25      False
2017-03-09               33      False
2017-03-10               32      False
2017-03-11               45      False
2017-03-12               46      False
2017-03-13               36      False
2017-03-14               42      False
2017-03-15               56      False
2017-03-16              100      False

[181 rows x 2 columns]
            Meu malvado favorito 3  isPartial
date
2016-12-31                       5      False
2017-01-01                       6      False
2017-01-02                       4      False
2017-01-03                       4      False
2017-01-04                       3      False
2017-01-05                       3      False
2017-01-06                       3      False
2017-01-07                       4      False
2017-01-08                       4      False
2017-01-09                       2      False
2017-01-10                       3      False
2017-01-11                       3      False
2017-01-12                       3      False
2017-01-13                       3      False
2017-01-14                       5      False
2017-01-15                       5      False
2017-01-16                       2      False
2017-01-17                       3      False
2017-01-18                       2      False
2017-01-19                       2      False
2017-01-20                       3      False
2017-01-21                       3      False
2017-01-22                       4      False
2017-01-23                       3      False
2017-01-24                       3      False
2017-01-25                       2      False
2017-01-26                       2      False
2017-01-27                       2      False
2017-01-28                       3      False
2017-01-29                       3      False
...                            ...        ...
2017-05-31                       8      False
2017-06-01                      15      False
2017-06-02                      11      False
2017-06-03                      18      False
2017-06-04                      13      False
2017-06-05                       8      False
2017-06-06                       7      False
2017-06-07                       8      False
2017-06-08                       8      False
2017-06-09                      10      False
2017-06-10                      15      False
2017-06-11                      20      False
2017-06-12                       9      False
2017-06-13                      12      False
2017-06-14                      11      False
2017-06-15                      17      False
2017-06-16                      19      False
2017-06-17                      19      False
2017-06-18                      24      False
2017-06-19                      17      False
2017-06-20                      18      False
2017-06-21                      12      False
2017-06-22                      23      False
2017-06-23                      19      False
2017-06-24                      43      False
2017-06-25                      49      False
2017-06-26                      38      False
2017-06-27                      45      False
2017-06-28                      60      False
2017-06-29                     100      False

[181 rows x 2 columns]

            Mulher-Maravilha  isPartial
date
2016-07-10                 0      False
2016-07-11                 0      False
2016-07-12                25      False
2016-07-13                25      False
2016-07-14                 0      False
2016-07-15                36      False
2016-07-16                 0      False
2016-07-17                35      False
2016-07-18                 0      False
2016-07-19                 0      False
2016-07-20                 0      False
2016-07-21                53      False
2016-07-22                 0      False
2016-07-23                35      False
2016-07-24                54      False
2016-07-25                26      False
2016-07-26                25      False
2016-07-27                51      False
2016-07-28                26      False
2016-07-29                53      False
2016-07-30                51      False
2016-07-31                35      False
2016-08-01                26      False
2016-08-02                25      False
2016-08-03                51      False
2016-08-04                 0      False
2016-08-05                 0      False
2016-08-06                35      False
2016-08-07                35      False
2016-08-08                78      False
...                      ...        ...
2016-12-08                26      False
2016-12-09                 0      False
2016-12-10                44      False
2016-12-11                 0      False
2016-12-12                 0      False
2016-12-13                24      False
2016-12-14                23      False
2016-12-15                26      False
2016-12-16                28      False
2016-12-17                36      False
2016-12-18                37      False
2016-12-19                 0      False
2016-12-20                26      False
2016-12-21                 0      False
2016-12-22                43      False
2016-12-23                31      False
2016-12-24                40      False
2016-12-25                 0      False
2016-12-26                29      False
2016-12-27                28      False
2016-12-28                57      False
2016-12-29                 0      False
2016-12-30                 0      False
2016-12-31                 0      False
2017-01-01                 0      False
2017-01-02                27      False
2017-01-03                54      False
2017-01-04                63      False
2017-01-05               100      False
2017-01-06                34      False

[181 rows x 2 columns]

In [46]:
#interest

In [50]:
interest = pytrends.interest_over_time()
interest.reset_index().drop('date', axis=1)

     Mulher-Maravilha  isPartial
0                   0      False
1                  25      False
2                  24      False
3                   0      False
4                   0      False
5                  53      False
6                   0      False
7                  34      False
8                   0      False
9                   0      False
10                  0      False
11                 25      False
12                 27      False
13                 34      False
14                 34      False
15                 49      False
16                 24      False
17                 37      False
18                 38      False
19                 25      False
20                 33      False
21                 50      False
22                 25      False
23                 49      False
24                 48      False
25                  0      False
26                  0      False
27                 34      False
28                 34      False
29                 50      False
..                ...        ...
151                25      False
152                 0      False
153                64      False
154                 0      False
155                 0      False
156                 0      False
157                45      False
158                 0      False
159                 0      False
160                 0      False
161                36      False
162                25      False
163                 0      False
164                 0      False
165                28      False
166                30      False
167                 0      False
168                44      False
169                42      False
170                 0      False
171                28      False
172                29      False
173                32      False
174                 0      False
175                 0      False
176                26      False
177                52      False
178                61      False
179                32      False
180                 0      False

[181 rows x 2 columns]

In [156]:
pytrends.interest_over_time()

            Veloses e furiosos 8  isPartial
date
2016-10-15                    12      False
2016-10-16                    12      False
2016-10-17                    18      False
2016-10-18                     0      False
2016-10-19                     9      False
2016-10-20                     0      False
2016-10-21                    10      False
2016-10-22                    13      False
2016-10-23                    13      False
2016-10-24                     9      False
2016-10-25                     9      False
2016-10-26                     9      False
2016-10-27                     9      False
2016-10-28                     0      False
2016-10-29                     0      False
2016-10-30                     0      False
2016-10-31                     9      False
2016-11-01                    10      False
2016-11-02                     0      False
2016-11-03                     9      False
2016-11-04                     0      False
2016-11-05                     0      False
2016-11-06                    12      False
2016-11-07                     0      False
2016-11-08                     0      False
2016-11-09                     0      False
2016-11-10                    10      False
2016-11-11                     0      False
2016-11-12                    13      False
2016-11-13                    13      False
...                          ...        ...
2017-03-15                    12      False
2017-03-16                    20      False
2017-03-17                    22      False
2017-03-18                    37      False
2017-03-19                    17      False
2017-03-20                    11      False
2017-03-21                    14      False
2017-03-22                     8      False
2017-03-23                     8      False
2017-03-24                    18      False
2017-03-25                    15      False
2017-03-26                    19      False
2017-03-27                     8      False
2017-03-28                    12      False
2017-03-29                    14      False
2017-03-30                    14      False
2017-03-31                    28      False
2017-04-01                    22      False
2017-04-02                    30      False
2017-04-03                    28      False
2017-04-04                    16      False
2017-04-05                    33      False
2017-04-06                    26      False
2017-04-07                    48      False
2017-04-08                    25      False
2017-04-09                    48      False
2017-04-10                    42      False
2017-04-11                    42      False
2017-04-12                    55      False
2017-04-13                   100      False

[181 rows x 2 columns]

In [9]:
movies_insterest_over_time = pytrends.interest_over_time()

In [20]:
movies_insterest_over_time.reset_index().drop('date', axis=1).transpose()

,0,1,2,3,4,5,6,7,8,9,...,171,172,173,174,175,176,177,178,179,180
Velozes e furiosos 8,2,1,1,1,1,0,1,1,1,2,...,8,10,13,13,16,21,19,21,29,50
Liga da Justiça,6,6,3,3,3,3,3,4,4,4,...,4,4,4,5,5,6,4,3,4,3
A Bela e a Fera,3,4,2,2,2,2,2,2,3,2,...,21,19,19,19,27,31,16,15,16,20
Meu malvado favorito 3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,0,1
Mulher-Maravilha,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
isPartial,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False